/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
} */

.contentSectionSec {
    position: relative;
    width: 100%;
    height: 100vh;

    /* padding:45px 50px 0 50px; */
}

.thirdSection {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 25px 150px 0 150px;
}

.firstSvgFile {
    float: right;
    display: block;
}

.cardContent {
    display: flex;
    /* border: 1px solid black; */
    margin-left: 65px;
}

.cardsDiv {
    width: 50%;
    /* margin: 0 auto; */
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.muliCards {
    width: 350px;
    height: 120px;
    display: flex;
    padding: 15px 15px;
    margin-bottom: 50px;
    /* border: 1px solid black; */
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px; */
}

.cardsSentence {
    padding: 10px 0 0 10px;
    text-align: left;
}

.cardsSentence h2 {
    color: #000;
    /* font-family: Roboto; */
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contentDiv {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 60px; */
    margin: 30px 0 0 20px;

}

.secondSvgFile {
    position: absolute;
    top: 165px;
    right: 540px;
}

.contentDiv h1 {
    color: #000;

    /* font-family: Inter; */
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contentDiv span {
    color: #000;
    /* font-family: Inter; */
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contentDiv h2 {
    color: #000;
    /* font-family: Inter; */
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 5px 0 15px 0;
}

.contentDiv ul li {
    color: #000;
    /* font-family: Inter; */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 25px;
    /* 187.5% */
}

.contentDiv button {
    padding: 16px 50px;
    margin-top: 40px;
    border: none;
    border-radius: 30px;
    background: #F27A44;
    color: #FFF;
    /* font-family: Inter; */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Media query for tablets */
/* @media (max-width: 768px) { */
@media only screen and (max-width: 769px) and (min-width: 480px) {
    .thirdSection {
        margin: 25px 50px 0 50px;
    }

    .cardContent {
        display: flex;
        /* border: 1px solid black; */
        /* align-items: center; */
        margin-left: 0px;
    }

    .contentDiv {
        margin: 0px 0 0 50px;

    }

    .secondSvgFile {
        position: absolute;
        top: 165px;
        right: 320px;
    }
    .contentDiv button {
       margin-top: 10px;
       
   }
}

/* Media query for mobile devices */
/* @media (max-width: 480px) { */
@media only screen and (max-width: 480px) and (min-width:320px ) {
   .thirdSection {
       display: flex;
       flex-direction: column;
       margin: 25px 0 0 0;
   }
   .cardContent {
       flex-direction: column !important;
       /* border: 1px solid black; */
       /* margin-left: 0px; */

       margin: 0px auto;
   }
   .cardsDiv {
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;

       /* margin:10px auto; */
       /* margin:10px auto; */
   }
   
   .muliCards {
       width: auto;
       /* width: 270px; */
       padding: 15px 15px;
       margin-bottom: 50px ;
   }
   .secondSvgFile {
       position: absolute;
       top: 0px !important;
       right: 0px !important;
   }
}
